
#metodologia{
    margin-top: 50px;
}

.cursos li{
    margin-top: 20px;
}

.item-cursos{
    display: flex;
    justify-content: center;
}

figure{
    text-align: center;
}

.item-cursos ul{
    margin-left: 8%;
}

.aplicaciones{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); /* ajusta el número de columnas para que quepan los elementos de 320px */
    grid-gap: 20px; /* espacio entre las tarjetas */
    margin-left: 40px;
 }
 
 .card{
     width: 320px;
     height: 320px;
     display: grid;
     grid-template-rows: minmax(100%, 1fr);
     grid-template-areas: "stack";
     overflow: hidden;
     border: 3px solid #333;
     border-radius: 20px;
     margin: 0; /* eliminamos el margen horizontal para que se ajuste al espacio de la cuadrícula */
 }
 
 .card:nth-last-child(-n+3) { /* agrega un margen inferior solo a los últimos 3 elementos */
    margin-bottom: 40px; /* ajusta este valor a la separación deseada */
 }
 

.card figure, .card figcaption{
    grid-area: stack;
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card figcaption{
    background-color: #242424e0;
    transform: translateY(calc(100% - 4rem));
    transition: transform 0.6s;
}

.card figcaption .text{
    height: 2rem;
    font-size: 1.8rem;
    text-align: center;
}

.card:hover figcaption{
    transform: none;
}

@media (max-width: 768px) {
    .aplicaciones{
        margin-left: 20px;
    }
}







