
#metodologia{
    margin-top: 50px;
}

.cursos li{
    margin-top: 20px;
}

.item-cursos{
    display: flex;
    justify-content: center;
}

figure{
    text-align: center;
}

.item-cursos ul{
    margin-left: 8%;
}


