/* -- Primera edicion -- */

.tittle1 {
  margin-top: 30px;
  margin-left: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.tittle2 {
  margin-top: 30px;
  margin-right: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.img1 {
  width: 100%;
  max-width: 500px;
  float: left;
  margin-top: 30px;
}

.img1 img{
  border-radius: 15px;
  margin-left: 50px;
}

.img1 figcaption{
  margin-left: 85px;
}

.text-container {
  overflow: hidden;
  flex-basis: 50%;
  margin-right: 30px;
}

.student{
  margin-left: 45px;
}

/* Estilos para la versión móvil */
@media (max-width: 768px) {
  .img1, .img2 {
    float: none;
    max-width: 100%;
    margin-right: 0;
  }
  .tittle1{
    text-align: center;
  }
  .tittle2{
    text-align: center;
  }
  footer .informacion_pagina{
    font-size: 10px;
  }
  footer .about{
    font-size: 12px;
  }
}
