main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-container {
  width: 50%;
}
