/* -- ARCHIVO CON VARIABLES GLOBALES (NO LOCALES) PARA TODAS LAS PAGINAS DEL PROYECTO -- */
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #eee;
}

/* -- VARIABLES CSS -- */
/* Las pueden usar empleando var("--nombre de la variable") */
:root {
  --red: #ff0000;
  --bg-page: #1b2430;
  --black: #000000;
  --black-2: #000;
  --cursive-font: "Lobster", cursive;
}

body {
  background-color: var(--bg-page);
  color: #eee;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #383d45;
  border-radius: 50px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #ff0000;
}

main {
  max-width: 1650px;
  width: 90%;
  margin: auto;
  border-left: solid 1px var(--black-2);
  border-right: solid 1px var(--black-2);
}

/* -- BARRA DE NAVEGACION (NAVBAR) -- */
header {
  background-color: var(--black);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 10%;
  box-shadow: 1px 1px 15px var(--black-2);
}

.logo {
  margin-right: auto;
  font-family: var(--cursive-font);
  cursor: pointer;
}

.devteam {
  font-family: var(--cursive-font);
  color: var(--red);
  font-size: 24px;
}

.proyect {
  font-family: var(--cursive-font);
}

.markdown {
  font-family: var(--cursive-font);
}

nav ul {
  list-style: none;
  display: inline-block;
  overflow: hidden;
}

nav ul li {
  display: inline-block;
  padding: 0px 20px;
  margin-top: 9px;
}

nav ul li a {
  text-decoration: none;
  font-weight: 900;
  transition: all 0.3s ease 0s;
  color: #eee;
}

nav ul li a:hover {
  color: var(--red);
}

.Contactanos {
  padding: 10px 10px;
  border: 0;
  background-color: #820101;
  box-shadow: 1px 1px 15px var(--black-2);
  border-radius: 20px;
  cursor: pointer;
  margin-left: 20px;
  color: #eee;
  transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -ms-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
}

.Contactanos:hover,
.Contactanos:active {
  background-color: var(--red);
}
/* -- -- */

/* -- cuerpo (body)-- */

h2{
  color: #d30303;
  padding: 0px 0px 10px 0px;
  margin: 15px 15px 0px 15px;
}

p{
  margin: 15px;
  text-align: justify;
}

/* -- PIE DE PAGINA (FOOTER) -- */

footer{
  margin: 20px 0px 0px 0px;
	padding: 5px 30px;
  box-shadow: 1px -1px 15px var(--black-2);
}

footer div{
	font-family: 'Open Sans', sans-serif;
}

footer div .about{
	text-align: right;
	font-size: 18px;
  margin: 15px;
}

footer div .about a{
	font-family: 'Lobster', cursive;
	font-size: 18px;
	text-decoration: none;
}

footer .informacion_pagina{
  margin: 15px 155px 30px 155px;
}

footer div .about a:hover{
	color: #ff0000;
}

footer div p{
	text-align: center;
}

footer div p a{
	text-decoration: none;
}

footer div p a:hover{
	color: #ff0000;
}

footer div .logo {
  position: absolute;
  top: 101.3rem;
  left: 5%;
}

/* -- -- */