.contenido_informativo .contenido {
  margin: 20px 20px;
  box-shadow: 0 4px 8px #b50000, 0 6px 20px 0 #393e46;
  width: 362px;
  height: 430px;
  align-items: center;
  display: inline-grid;
  border-radius: 15px;
}

.contenido_informativo .contenido .fotos img {
  width: 100%;
  height: 200px;
  border-radius: 15px 15px 0px 0px;
}

.contenido_informativo .contenido .pie_foto {
  text-align: center;
  padding: 10px;
  margin: 10px 10px;
}
