<<<<<<< HEAD
* {
  font-family: 'Poppins', sans-serif;
}
=======
/* 
No es necesario ya esta declarado en global.css parte
body
 * {
  font-family: "Poppins", sans-serif;
} */
>>>>>>> b618674fcfaf12962c73915a1cfef6f5a4e617b2

h2 {
  text-align: center;
}

.contenido_informativo {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
  gap: 10px;
  align-items: center;
  justify-items: center;
}

.section1, .section2 {
  width: 80em;
  display: inline-flex;
}

.contenido_informativo .card {
  position: relative;
  width: 600px;
  /* height: 430px; En este caso no es necesario definir un alto fijo ya que este se define por el contenido */
  border-radius: 20px;
  display: flex;
  align-items: center;
  transition: 0.5s;
}

.contenido_informativo .card .circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.card .circle::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffff;
  clip-path: circle(120px at center);
  transition: 0.5s;
}

.card:hover .circle::before {
  background: #000;
  clip-path: circle(400px at center);
}

.contenido_informativo .card .fotos img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 150px;
  border-radius: 100%;
  transition: 0.5s;
  pointer-events: none;
}

.card:hover .fotos img {
  left: 78%;
  height: 200px;
}

.contenido_informativo .card .pie_foto {
  position: relative;
  width: 60%;
  left: -5%;
  padding: 10px 10px 10px 30px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.card:hover .pie_foto {
  left: 0;
  opacity: 1;
  visibility: visible;
}

.card .pie_foto h2 {
  text-transform: uppercase;
  font-size: 1.5em;
  line-height: 1em;
}

.card .pie_foto p {
  font-size: 1em;
  text-overflow: initial;
}

.card .pie_foto a {
  position: relative;
  color: #111;
  padding: 10px 20px;
  border-radius: 10px;
  background: #fff;
  margin-left: 20px;
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
}

@media screen and (max-width: 760px) {
  .contenido_informativo {
    grid-template-columns: 100%;
  }
}
