main{
  display: block;
} 

.grupo-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
}

.grupo-cards .card-h {
  padding: 10px;
  border-radius: 8px;
  background: #303843;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  overflow: hidden;
}

.grupo-cards .card-h:hover {
  background: #1d2128;
}

.grupo-cards .card-h:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.grupo-cards .card-h img {
  width: 100%;
  height: 240px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

ul,
ol {
  margin-left: 35px;
}

/* MediaQuery */
@media screen and (max-width: 760px) {
  .grupo-cards {
    grid-template-columns: 100%;
  }
  .grupo-cards .card-h img {
    height: auto;
  }
}
